@import '../../scss/variables';
.slide {
  position: relative;
  overflow: hidden;
  width: calc((100% - 4rem) / 5);
  height: 0;
  background-color: grey;
  &.viewthree {
    padding-bottom: calc((100% - 4rem) / 5 * 1);
  }
  &.viewtwo {
    padding-bottom: calc((100% - 4rem) / 5 * 0.625);
  }
  &.viewone {
    padding-bottom: calc((100% - 4rem) / 5 * 1);
    @media (min-width: $screen-tablet) {
      padding-bottom: calc((100% - 4rem) / 5 * 0.5);
    }
    @media (min-width: $screen-desktop) {
      padding-bottom: calc((100% - 4rem) / 5 * 0.375);
    }
  }
}
