@import '../scss/variables';
@import '../scss/typography';
.carousel {
  margin: 0 calc(50% - 50vw - 0.5rem);
  width: calc(100vw + 1rem);
  overflow: hidden;
}
.slide {
  margin: -0.5rem 0.5rem;
}
.nav {
  margin: 1rem 0.5rem 0;
  &#{&} {
    button {
      @include heading-font;
      color: $chalk;
      background-color: lighten($darkAccent, 10%);

      &:hover {
        background-color: $darkAccent;
      }
    }

    ul li {
      background-color: $grey01;

      &.active {
        background-color: lighten($darkAccent, 10%);
      }
      &:hover {
        background-color: $darkAccent;
      }
    }
  }
}
.blankSlide {
  > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: bold;
  }
}
.contentSlide {
  background: rgba($brand, 0.5);
}
.slideImage {
  mix-blend-mode: darken;
}
.slideContent {
  color: lighten($lightAccent, 10%);

  mix-blend-mode: screen;

  text-transform: capitalize;
  @include body;
  h1 {
    text-transform: uppercase;
    @include heading-small;
  }

  @media (min-width: 1024px) {
    h1 {
      @include heading;
    }
  }
}

.customArrowsNav {
  &#{&} {
    button {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }

    ul li {
      background-color: $grey01;

      &.active {
        background-color: lighten($darkAccent, 10%);
      }
      &:hover {
        background-color: $darkAccent;
      }
    }
  }
}
.buttons {
  svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: $chalk;
    padding: calc(0.5rem - 12px);
    background-color: lighten($darkAccent, 10%);
    border-radius: 100%;
  }
  &:hover {
    background-color: transparent;
    svg {
      background-color: $darkAccent;
    }
  }
}
