$slide-time: 500ms;
$bounce-time: 250ms;

$slide-margin: 1rem;

$bounce: transform $bounce-time cubic-bezier(0.68, -0.55, 0.265, 1.55);
$slide: transform $slide-time ease;

.carousel {
  overflow: hidden;
}
.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(300% + #{2 * $slide-margin});
  margin: 0 calc(-100% - #{$slide-margin});

  &.dragging {
    user-select: none;
  }

  &.bouncing {
    transition: $bounce;
  }

  &.forwards,
  &.backwards {
    transition: $slide;
  }

  &.backwards {
    transform: translateX(calc((100% + #{$slide-margin}) / 3));
  }

  &.forwards {
    transform: translateX(calc((-100% - #{$slide-margin}) / 3));
  }
}
