$chalk: #ece4e6;
$ink: #2a2734;
$brand: #c2182a;
$lightAccent: #46bfc6;
$darkAccent: #6c1d2e;

$grey01: #ccc;
$grey02: #999;
$grey03: #666;
$grey04: #333;

$screen-mobile: 415px;
$screen-tablet: 1024px;
$screen-desktop: 1440px;
$screen-large: 1920px;

$min-width: 320px;
$max-width: 1200px;
$min-font: 16px;
$max-font: 32px;

$mod_1: 1.2; // mobile
$mod_2: 1.4; // desktop

$min-line-height: 1.2;
$max-line-height: 1.4;
